<div class="HealthSimulateMeddleBigBox">
	<div class="HealthSimulateMeddleHeaderBox">
	    <div class="suggestInformationBox">
	    	<span>建议信息:</span>
	    	<input type="text" />
	    </div>
	    <div class="suggestInformationBox LookRecipeGrade">
	    	<span>等级:</span>
	    	<input type="text" />
	    </div>
	    <div class="suggestInformationBox happenTimes">
	    	<span>发生次数:</span>
	    	<input type="text" />
	    	<p>~</p>
	    	<input type="text" />
	    </div>
	    <div class="suggestInformationBox rulesVersion">
	    	<span>规则版本:</span>
	    	<input type="text" />
	    </div>
	    <div class="suggestInformationBox warmingType">
	    	<span>警示类型</span>
	    	<select>
	    		<option>全部</option>
	    		<option>拦截</option>
	    		<option>提示</option>
	    	</select>
	    </div>
	    <div class="searchMeddle">
	    	<span>搜索</span>
	    </div>
    </div>
    <div class="HealthSimulateMeddleTableBox">
	
    </div>
</div>