<div class="HealthLookRecipeBigBox">
	<div class="HealthLookRecipeHeaderBox">
	     <div class="HealthLookRecipeHeaderTimeBox recipeBox">
	         <span>日期:</span>
	         <input type="date" class="HealthLookRecipeHeaderStarTime"/>
             <p>-</p>
             <input type="date" class="HealthLookRecipeHeaderStarTime"/>
	     </div>
	     <div class="HealthLookRecipeHeaderDiagnoseBox recipeBox">
	     	<span>诊断:</span>
	     	<input type="text" class="HealthLookRecipeHeaderStarTime" placeholder="请输入诊断关键字"/>
	     </div>
	     <div class="HealthLookRecipeHeaderRecipeWareBox recipeBox">
	     	<span>处方金额:</span>
	     	<input type="number" />
	     	<p>-</p>
	     	<input type="number" />
	     </div>
	     <div class="HealthLookRecipeHeaderDrugAnalyseBox recipeBox">
	     	<span>处方号:</span>
	     	<input type="number" />
	     </div>
	     <div class="HealthLookRecipeHeaderDrugAnalyseBox patientIndex recipeBox">
	     	<span>患者号:</span>
	     	<input type="number" />
	     </div>
	     <div class="HealthLookRecipeHeaderDrugAnalyseBox office recipeBox">
	     	<span>科室:</span>
	     	<input type="text" placeholder="请输入/选择科室"/>
	     </div>
	     <div class="searchHealthLookRecipe">
	     	<span>搜索</span>
	     </div>
    </div>
    <div class="HealthLookRecipeTableContentBox"></div>
</div>