<!--弹窗浮动层  添加版本-->  
 <my-dialog class="show-dialog">
 	 <template #dialogTemplate let-dialogModel>
         <div class="datatype-choosing">
              <div class="chooseVersion">版本信息</div>
              <div class="chooseVersionContent">
              	<div class="versionContentBox">
              		<span>版本名称:</span>
              		<input type="text" />
              	</div>
              	<div class="versionContentBox">
              		<span>版本说明:</span>
              		<textarea></textarea>
              	</div>
              </div>
              <div class="chooseVersionButtom">
              	 <button class="chooseSure">保存</button>
              </div>
        </div>
    </template>
 </my-dialog>


