<div class="HealthInsurancePolicyFileAddBigBox">
	<div class="HealthRulesVersionHeader">
		<img src="image/u2388.svg" routerLink='/health_insurance_policy_file'/>
		<span routerLink='/health_insurance_policy_file'>修改返回</span>
	</div>
	<div class="HealthInsurancePolicyFileFileItemBox BOX title">
		<span>文件标题:</span>
		<input type="text" placeholder="长度1-30.不区分中英文.不支持特殊服务" [(ngModel)]="modificationsummary" ngRequired/>
	</div>
	<div class="HealthInsurancePolicyFileFileDescriptBox BOX descript">
		<span>文件描述:</span>
		<div>
            <textarea row="3" id="ueInstructions" #UEditor></textarea>
       </div>
	</div>
	<div class="HealthInsurancePolicyFileFileItemBox BOX source">
		<span>来源:</span>
		<input type="text" placeholder="长度1-30,不区分中英文,不支持特殊服务" [(ngModel)]="modificationsource"/>
	</div>
	<div class="HealthInsurancePolicyFileFileItemBox BOX">
		<span>生效时间:</span>
		<input type="type" [(ngModel)]="modificationativeDate"/>
	</div>
	<div class="HealthInsurancePolicyFileFileSaveBox">
		<div class="cancelFile">
			<span>取消</span>
		</div>
		<div class="save">
			<span (click)="save()">保存</span>
		</div>
	</div>
</div>